[Unit]

Description=ls7_15ach6_backlight
[Service]

ExecStart=/home/mikoma/.config/systemd/user/ls7_15ach6_backlight.sh

[Install]
WantedBy=multi-user.target
